@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-ExtraLight.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-SemiBold.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 400;
  }  
  
html {
    scroll-behavior: smooth; 
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  .container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: black;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 20px;
    
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .hr{
      size: 2px;
  }
  .content{
      display:flex ;
      width: 60%;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      
      
  }
  .content h1{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter';
    
   
  }
  .content h2{
    font-family: 'Inter';
    text-align: center;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contacts{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
  }
  .content img{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
  }
  .contact_list{
    padding-left: auto;
    text-align: left;
    list-style: none;
    font-family: 'Inter';
    font-weight: 200;

  }
  .contact_list span{
    font-family: 'Inter';
    font-weight: 300;
  }
